* {
	font-family: Tahoma, Lucida Grande, Verdana, sans-serif;
	color: #333333;
}
body {
	margin: 0em;
	background-color:white;
	background-attachment: fixed;
	background-position: 0px 50px;
}
p {
  margin: 0.5em 0em 0.5em 0em;
}
h1,h2,h3,h4,h5,h6,.date {
	font-size: 1em;
	font-weight: bold;
  margin: 0.6em 0em 0.5em 0em;
}
h2 {
	color: #ffffff;
	background-color: #888888;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
h1 {
	background-color: #f84f00;
	color: white;
	padding-left: 5px;
	padding-top: 0em;
	margin: 0em;
}

h1 a {
	color: #ffffff;
}
a img {
	border: 0;
	text-decoration: none;
}
h3 {
	color: #B8E0CF;
}
a {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted;	
}
input, textarea {
	color: #333333;
}

select, select option {
	color: #333333;
}
.right-head {
	width: 100%;
	text-align: right;
	font-size: small;	
}
.b {
	font-weight: bold;
}
.i {
	font-style:italic;
}
.c {
	text-align:center;
}
.disabled {
	color: #999999;
}
.small {
	font-size: small;	
}

/* Blocco stili header */
#header {
	padding: 5px;
	height: 50px;
}
#rsm-dx {
	position:absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 50px;
	z-index: -2;
}
#rsm-sx {
	position:absolute;
	top:5px;
	left:5px;
	height:50px;
	width:153px;
}

#orario {
		position: absolute;
		right: 15px;
		top: 31px;
		color: #333333;
		font-weight: bold;
		font-size: small;
		font-stretch: condensed;
}
#beta {
		position: absolute;
		right: 10px;
		top: 2px;
		padding: 0px 2px 0px 2px;
		border-top: #f84f00 solid 1px;
		border-bottom: #f84f00 solid 1px;
		color: #f84f00;
		background-color: #ffffff;
		font-weight: bold;
		font-size: small;
}
#beta a {
	color: #f84f00;
}
.navtop {
	position: absolute;
	top: 50px;
	left: 0px;
	padding-top: 7px;
	padding-left: 5px;
	height: 24px;
	width: 100%;
}



/* blocco stili contenuto centrale */
#main {
	margin: 0em;
	padding-left: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
	padding-top: 0em;
	border-bottom:white solid 0.3em;
	background-color: white;
}

#main a {
		text-decoration: none;
		line-height: 1.4 em;
}

#title {
		line-height: 1em;
		margin-top: 5px;
		margin-bottom: 15px;
}
#title #indietro a {
		/*color: #f84f00;*/
		color: #333333;
		margin-left: 3px;
}
#title a {
		margin-left: 8px;
		text-decoration: none;
		vertical-align: text-bottom;
}
#title #aggiorna {
		position: absolute;
		right: 15px;
}
#title #aggiorna a{
		text-decoration: none;
}
#title table tr td {
		height: 1.5em;
}
#content {
		
}

/* blocco stili footer */
#footer {
		border-top: 3px solid #f84f00;
}

#footer #info {
		padding-top: 6px;
		padding-bottom: 6px;
		color: #333333;
		font-size: small;
		font-stretch: condensed;
		height: 24px;
}
#footer #info * {
		vertical-align: middle;
}
#footer #navbottom {
	margin: 0.1em 0.2em 0.2em 0.5em;
	color: #fff;
}
#footer #navbottom a {
		color: #fff;
}

.icon {
	vertical-align: middle;
}
.middle {
	vertical-align: middle;
}
.menulink {
	vertical-align: middle;
	border-bottom: 1px dotted;	
}
.menuitem {
	padding: 2px 0px 2px 0px;
}
.dot {
	vertical-align: middle;
}
.emph {
	color: #13985F;
	background-color:#B8E0CF;
}
.banda0, .banda1, .banda2 {
	margin-left: -0.5em;
	margin-right: -0.5em;
	border-bottom: #f84f00 dashed 0.1em;
	padding: 0.3em;
}

.banda1 {
	border-left: #f84f00 solid 0.3em;
}
.banda2, .banda0 {
	border-left: #B8E0CF solid 0.3em;
}


.banda0 {
	border-top: #f84f00 dashed 0.1em;
}
.nota {
	margin-top: 3em;
	font-size: 0.8em;
}
.ak {
  background-color: #999999;
  color: #333333;
  border-left: #999999 solid 0.2em;
  border-right: #999999 solid 0.2em;
  border-top: #999999 solid 0.1em;
  border-bottom: #999999 solid 0.1em;
  width: 3em;
}
.nak {
  background-color: transparent;
  color: transparent;
  border-color: transparent;
  border-left: solid 0.2em;
  border-right: solid 0.2em;
  border-top: solid 0.1em;
  border-bottom: solid 0.1em;
}
.vskip {
	margin-top: 0.8em;
}
.hid, .hid1 {
	color: #333333;
}
.hid0, .hid2 {
	color: #E8E8E8;
}
.notifiche {
	background-color: #ffffff;
	color: #13985F;
	margin-top: 0.8em;
	margin-bottom: 0.6em;
	padding: 0.2em;
	text-align:left;
	border-style: solid;
	border-color: #f84f00;
	border-width: 1px 0px 1px 5px;
}
.notifiche a {
	color: #009b48;
	text-decoration: none;
}
.infobox {
	background-color: #E8E8E8;
	color: #13985F;
	font-size: 0.8em;
	padding: 0.4em;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	border-left: #f84f00 solid 2px;	
}

.infobox .b {
	color: #f84f00;
}

.hlform {
	background-color: #D2B0B6;
}
.nound {
	border-bottom: none;
}
.indented {
	margin-left: 10px;
}
.selected {
	background-color: #E8E8E8;
	border-left: #f84f00 solid 2px;
}
.selected a {
	color: #13985F;
}
.category {
	font-weight: bold;
	color: #f84f00;
	margin-top: 12px;
}
.percorso .indicazioni td {
	padding-bottom: 10px;
}
.percorso .indicazioni .fc {
	text-align: center;
}
.percorso .indicazioni .icon {
	background-color: #999999;
	border-left: #f84f00 solid 5px;
	color: #f84f00;
	font-weight: bold;
	padding: 2px;
}

.percorso .indicazioni .nodo .icon {
	background-color: #FFFFFF;
}

.percorso .indicazioni .tratto .icon {
	background-color: #999999;
}

.abilita {
	color:black;
	
	}
.disabilita {
	color:black
	}
a.abilita:hover{
	color:#B2FF99;
	
	}
a.disabilita:hover{
	color:#f84f00;
	}
.inactive:hover {
    background-color: white;
}
.active {
    border-bottom: 3px solid white;
    background-color: #999999;
}