<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9,IE=10">
<!-- Sets whether a web application runs in full-screen mode. -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>Muoversiaroma.it Mobile</title>

<link rel="stylesheet" href="/ztl/s/css/CustomTheme.css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
<link rel="stylesheet" href="http://js.arcgis.com/3.7/js/esri/dijit/css/Gallery.css" />
<link rel="stylesheet" href="http://js.arcgis.com/3.7/js/esri/css/esri.css" />
<link rel="stylesheet" href="/ztl/s/css/layout.css" />

<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
<script src="//js.arcgis.com/3.6compact"></script>

<script>
	var map;
	require(
		["esri/map", "esri/arcgis/utils"],
		function(Map, arcgisUtils) {
			var deferred = arcgisUtils.createMap("{{ztl.mapId}}", "map", {
				mapOptions: {
			      slider: true
			    }
	  		});
		}
  	);
</script>
</head>

<body>
  <div data-role="page" id="mapPage" class="page-map">
    <div data-role="header" data-theme='a' id="header">
      <h1 id="webmapTitle"></h1>
      <!--<a href="#infoDialog" id="info" data-rel="dialog" data-theme='b' class="ui-btn-right" data-icon="info" data-iconpos="notext"></a>-->
    </div>
    <div data-role="content" id="mapcontent">
      <div id="map"></div>
    </div>

  </div>
</body>
</html>
